.sliderdescriptioncontainer {
    display: grid;
    place-items: start;
    width: 80%;
    background-color: #e7dfd9;
    position: relative;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  
  .coffeecafelabel {
    width: 100%;
    text-transform: uppercase;
    font-size: 0.875rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    text-decoration: underline;
  }
  
  .slidercontent {
    width: 100%;
    height: 70vh;
    padding: 3rem 1rem;
    text-align: left;
  }
  

  .slidercontent > div {
    margin-top: 1rem;
  }
  
  .slidercontent button {
    background-color: #ecae7e;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  
  .slidercontrols {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  
  .slidercontrols button {
    cursor: pointer;
  }
  
  .slidercontrols .leftarrow {
    position: absolute;
    bottom: 0.5rem;
    right: 3rem;
  }
  
  .slidercontrols .rightarrow {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .title {
    font-size: 3.75rem; 
    font-weight: 800;
}

.description {
    line-height: 1.75; 
    font-weight: 500; 
    font-size: 1.25rem; 
    letter-spacing: 0.05em;
    height: 15rem;
}

@media (min-width: 768px) {
    .description {
        height: 10rem;
    }
}

.italic {
    font-style: italic;
}

.text-gray-600 {
    color: #4b5563; 
}